.container
{
	text-align: center;
	width: 500px;
	height:700px;
}
.btn
{
	float:left;
}
.btn:hover
{
	background-color: #89f5f2;
}
.score
{
	float: right;
}
.cellA
{
	width: 60px;
	height: 40px;
	display: inline-block;
	background-color: #e8e8e8;
	vertical-align: middle;
	margin: 1px;
	text-align: middle;
}
.cellA:hover
{
	background-color: #89f5f2;
}
.cellB
{
	width: 60px;
	height: 40px;
	display: inline-block;
	font-size: 40px;
	background-color: #67f990;
	margin: 1px;
	vertical-align: middle;
	text-align: middle;
}
.clr{
	width: 100%;
	height: 20px;
}